@use '../../../styles/' as *;

.welcome{
    &_content{
        @include flex(center,center);
    }
    &_info{
        width: 50%;
        height:100%;
    }
    &_img{
        height: 100%;
        width: 50%;
    }
 

    &_info{
        @include flex(flex-start, flex-end);
        &_content{
            padding-left: 10rem;
            .description{
                font-size: 1rem;
            }
            .btns> * ~ *{
                margin-left: 1rem;
            }
        }
    }
    &_img{
       @include flex(flex-end,flex-start);
        height: 100%;;
        &_slide{
            height: 615px;
            width: 615px;
            
            
        }
    }
}
.btns{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}